<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Jaywalk" version="1.0.0" viewmodes="maximized">
    <tizen:application id="NpcY682Ldm.Jaywalk" package="NpcY682Ldm" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Jaywalk!</name>
    <tizen:profile name="wearable"/>
</widget>
